/* Banner */
#banner {
  background-image:url(../img/Banner_img.webp); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  background-size: cover;
  height: 100vh;
  position: relative;
  max-width: 100%;
}
#overlay_banner{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
#page_header {
  padding: 60px 0;
  justify-content: space-between;
  margin-bottom: 183px;
  max-width: 1680px;
  margin: 0 auto;
}
#page_header .logo_hepta {
  font-size: 33px;
  color: #fff;
  padding: 0 15px;
  font-family: serif;
  text-decoration: none;
  font-weight: 900;
} 
.logo_hepta:hover{
  cursor: pointer;
}
.menu_icon{
  cursor: pointer;
}
.banner_btn:hover{
  cursor: pointer;
}
#page_header .ti-menu {
  color: #fff;
  min-height: 30px;
  padding: 8px 12px;
  font-size: 30px;
}
.banner_content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#banner h2 a{
  color: #fff;
  text-decoration: underline;
  opacity: 0.6;
}
#banner h2 a:hover{
  opacity: 1;
}
#banner .banner_btn{
  padding: 16px 0px;
  border: 2px;
  border-radius: 5%;
  border-color: #fff;
  width: 189px;
  height: 52px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  margin-top: 55px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
#banner .banner_btn:hover{
  background-color: #fff;
  color: black;
}
#banner .scrl_down_card{
  color: #fff;
  bottom: 14px;
  left: 0;
  right: 0;
  position: absolute;
}
#banner .scroll_down_btn a{
  font-size: 11px;
  text-decoration: none;
  color: #fff;
}
#banner .down_arr{
  text-decoration: none;
  color: #fff;
}

/* intro */
/* #intro .flex_box{
  margin: 0 auto;
} */
#intro .intro_img {
  width: 540px;
  height: auto;
  max-width: 100%;
}
#intro .intro_card{
  width: 560px;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 50%;
}
#intro .flex_box_col{
  padding-left: 30px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.play_btn{
  color: #65c0ba;
  font-weight: 900;
  border-radius: 50%;
  border-color: #e6e6e6 !important;
  border: 2px;
  border-style: solid;
  align-content: center;
  font-size: 21px;
  padding-top: 10px;
  padding-left: 17px;
  width: 50px;
  height: 50px;
}
.watch_vid{
  padding-top: 24px;
  margin: 0;
  float: left;
}
.watch_vid:hover .watch_vid p{
  cursor: pointer;
  color: #17a2b8;
}
.watch_vid:hover .watch_vid i{
  color: #333;
}
.watch_vid p{
  margin-left: 20px;
  margin-top: 8px;
  color: #65c0ba;
  font-weight: bolder;
  font-size: medium;
}
/* Service */
#service{
  background-color: #fafafa
}
#service .service_title{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
#service .service_content{
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  /* max-width: 100%; */
}
.service_card{
  width: 33.33333%;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 24px;
}
.service_img img{
  width: 70px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
/* Slider */
#slider{
  padding: 126px 0;
  position: relative;
}
#slider h1,
#slider p{
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}
#slider h1{
  margin-bottom: 30px;
}
#slider p{
  margin-bottom: 54px;
}
/* slider show */
.slide_show_container{
  max-width: 95%;
  width: 1140px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.slider{
  height: inherit;
  overflow: hidden;
  width: 100%;
}
.slides{
  width: 600%;
  height: inherit;
  display: flex;
}
.slide{
  width: calc(100% / 6);
}
.slide img{
  width: 100%;
}
.slides input{
  display: none;
}
.manual_nav{
  position: absolute;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 88%;

}
.manual_btn{
  border: 2px solid white;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}
.manual_btn:hover{
  background: #fff;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: calc(-1140px * 1);
}
#radio3:checked ~ .first{
  margin-left: calc(-1140px * 2);
}
#radio4:checked ~ .first{
  margin-left: calc(-1140px * 3);
}
#radio5:checked ~ .first{
  margin-left: calc(-1140px * 4);
}
#radio6:checked ~ .first{
  margin-left: calc(-1140px * 5);
}
.nav_auto{
  border: 2px solid white;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}
.nav_auto:hover{
  background: #fff;
}
#radio1:checked ~ .nav_auto .auto_btn1{
  background: #fff;
}
#radio2:checked ~ .nav_auto .auto_btn2{
  background: #fff;
}
#radio3:checked ~ .nav_auto .auto_btn3{
  background: #fff;
}
#radio4:checked ~ .nav_auto .auto_btn4{
  background: #fff;
}
#radio5:checked ~ .nav_auto .auto_btn5{
  background: #fff;
}
#radio6:checked ~ .nav_auto .auto_btn6{
  background: #fff;
}

/* blog */
#blog{
  margin-top: -500px;
  padding-top: 500px;
  background: #65c0ba!important;
  overflow: hidden;
}
#blog h1,
#blog > p{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 730px;
  max-width: 100%;
}
#blog > p{
  margin-bottom: 48px;
  color: rgba(0,0,0,0.2);
}
.blog_card{
  margin: 0 15px;
  background: #fff;
  /* margin-top: -78px; */
}
.blog_card h3,
.blog_card p,
.blog_card .card_date{
  padding: 10px 30px;
  width: 100%;
  text-align: left;
}
.blog_card h3:hover{
  color: #65c0ba;
  cursor: pointer;
}
.blog_card img{
  width: 100%;
}
.blog_card img:hover{
  cursor: pointer;
}
.blog_card .card_date{
  color: #ced4da;
  font-weight: lighter;
}
/* comment */
#comment{
  background-color: #fafafa;
}
#comment h1{
  margin-bottom: 21px;
  width: 730px;
  line-height: 70px;
  margin: 0 auto;
  max-width: 100%;
}
.customer{
  padding: 0 15px;
  font-style: italic;
}
.customer img{
  border-radius: 50%;
  width: 70px;
  margin-bottom: 16px;
}
.cus_cmt{
  color: #6c757d;
}
.cus_sign{
  color: #6c757d;
}
/* recommendation */
#rec{
  width: 1110px;
  margin: 0 auto;
  max-width: 100%;
}
.rec_h3,
.rec_p{
  width: 730px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 16px;
  max-width: 100%;
}
#rec > h3{
  margin-bottom: 8px;
}
.des_cards{
  margin: 0 auto;
}
.des_card{
  width: 25%;
  padding: 0 15px;
}
.des_card img{
  width: 100%;
  padding-bottom: 10px;
}
.des_card img:hover{
  cursor: pointer;
}
.des_card h3{
  text-align: left;
  width: 100%;
  font-size: 24px !important;
}
.des_card h3:hover{
  cursor: pointer;
  color: #65c0ba;
}
.des_card p{
  text-align: left;
  width: 100%;
}
.reviews{
  color: #ccc;
  float: right !important;
  font-style: italic;
  font-size: 18px;
  flex: 1;
  text-align: right;
}
.rating{
  float: left !important;
  flex: 1;
  margin-top: -4px;
}
.rating .ti-star{
  display: inline-block;
  font-size: 16px;
  color: #65c0ba;
  font-weight: 10000;
}
/* footer */
.footer{
  background: black;
}
.footer_card > ul{
  padding: 0 15px;
}
.footer_card li{
  list-style: none;
  color: #ccc;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
.footer_card li:first-child{
  font-weight: bolder;
  margin-bottom: 20px;
  color: #fff !important;
  font-size: 20px;
}
.contact_card{
  padding: 0;
  margin-bottom: 16px;
}
.contact_card li:first-child{
  font-style: italic;
  margin-bottom: 0;
  font-weight: 30 !important;
  margin-bottom: 8.8px;
}
.email{
  max-width: 100%;
  position: relative;
}
.footer_card input{
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);   border-radius: 0;
  color: #fff;
  padding: 6px 12px;
  height: 50px;
  overflow: visible;
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  cursor: text;

}

.ti-location-arrow{
  background: black;
  cursor: pointer;
  color: #fff;
  background-clip: border-box;
  font-size: 18px;
  width: 50px;
  position: absolute;
  right: 0;
  padding: 16px 0;
}
.email_submit{
  padding: 0;
  margin: 0;
  background: black;
  border: none;
}
.footer_text{
  color: rgba(255, 255, 255, 0.5);
  padding-top: 48px;
  border-top: 1px solid rgba(255, 255, 255, 0.5) ;
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  margin-bottom: 16px;
}
.social_network{
  margin-top: 16px;
}
.social_network i{
  padding: 10px;
}
/* Responsive */
/* PC */
@media only screen and (min-width:64.0625em){
  .service_title{
    width: 730px;
  }
  .service_card{
    width: 33.33333%;
  }
  #slider h1,
  #slider p{
    width: 730px;
  }
  /* .manual_nav{
    width: 1110px;
  } */
  .blog_card{
    width: 33%;
  }
  /* .flex_box{
    flex-wrap: nowrap;
  } */
  .footer_card > ul{
    width: 25%;
  }
  h2{
    font-size: 30px;
  }
}
/* Mobile */
@media only screen and (max-width:46.1875em){
  h1{
    font-size: 60px;
  }
  .flex_box.customers{
    flex-wrap: wrap;
  }
  .flex_box.des_cards{
    flex-wrap: wrap;
  }
  .des_card{
    width: 100%;
  }
  .service_card{
    width: 100%;
  }
  #service .service_content{
    max-width: 100%;
  }
  .flex_box.blog_content{
    margin-top: -126px;
    margin-bottom: -72px;
  }
  #comment{
    margin-bottom: -198px;
  }
  .customers{
    margin-top: -102px;
  }
  .footer_card{
    margin-top: -198px;
  }
  .footer_card > ul{
    width: 100%;
  }
  .footer_card.flex_box{
    flex-wrap: wrap;
  }
  h2{
    font-size: 15px;
  }
  .des_card{
    margin-bottom: 16px;
  }
}
/* Tablet */
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
  h2{
    font-size: 30px;
  }
  .service_title{
    width: 450px;
  }
  .service_card{
    width: 47%;
  }
  #slider h1,
  #slider p{
    width: 450px;
  }
  .slider{
    width: 930px;
  }
  .blog_card{
    width: 45%;
  }
  .des_card{
    width: 47%;
    margin-bottom: 16px;
  }
  .des_cards{
    align-items: center;
    justify-content: center;
  }
  .footer_card > ul{
    width: 25%;
  }

}
/* Mobile & Tablet */
@media only screen and (max-width:64em){
  h1{
    font-size: 80px;
  }
  #intro > .flex_box {
    flex-direction: column;
    width: 100%;
  }
  .intro_card{
    max-width: 100% !important;
    width: 100% !important;
  }
  #intro .intro_img{
    width: 100% !important;
    padding: 0 15px;
    margin-bottom: 24px;
  }
  #intro .flex_box_col{
    padding-left: 15px;
  }
  .watch_vid{
    margin-left: 0 !important;
  }
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: calc(-100% / 6 * 1);
  }
  #radio3:checked ~ .first{
    margin-left: calc(-100% / 6 * 2);
  }
  #radio4:checked ~ .first{
    margin-left: calc(-100% / 6 * 3);
  }
  #radio5:checked ~ .first{
    margin-left: calc(-100% / 6 * 4);
  }
  #radio6:checked ~ .first{
    margin-left: calc(-100% / 6 * 5);
  }
  .flex_box.blog_content,
  .flex_box.des_cards{
    flex-wrap: wrap;
  }
  .blog_card{
    margin-bottom: 24px;
  }
  
  



}







